*.gtp filter=lfs diff=lfs merge=lfs -delta
*.gts filter=lfs diff=lfs merge=lfs -delta
*.pdf filter=lfs diff=lfs merge=lfs -delta
*.exr filter=lfs diff=lfs merge=lfs -delta
*.hdr filter=lfs diff=lfs merge=lfs -delta
*.obj filter=lfs diff=lfs merge=lfs -delta
*.psd filter=lfs diff=lfs merge=lfs -delta
*.png filter=lfs diff=lfs merge=lfs -delta
*.Png filter=lfs diff=lfs merge=lfs -delta
*.PNG filter=lfs diff=lfs merge=lfs -delta
*.jpg filter=lfs diff=lfs merge=lfs -delta
*.Jpg filter=lfs diff=lfs merge=lfs -delta
*.JPG filter=lfs diff=lfs merge=lfs -delta
*.bmp filter=lfs diff=lfs merge=lfs -delta
*.tga filter=lfs diff=lfs merge=lfs -delta
*.Tga filter=lfs diff=lfs merge=lfs -delta
*.TGA filter=lfs diff=lfs merge=lfs -delta
*.gif filter=lfs diff=lfs merge=lfs -delta
*.tif filter=lfs diff=lfs merge=lfs -delta
*.tiff filter=lfs diff=lfs merge=lfs -delta
*.sbsar filter=lfs diff=lfs merge=lfs -delta
*.wav filter=lfs diff=lfs merge=lfs -delta
*.mp3 filter=lfs diff=lfs merge=lfs -delta
*.ogg filter=lfs diff=lfs merge=lfs -delta
*.fbx filter=lfs diff=lfs merge=lfs -delta
*.FBX filter=lfs diff=lfs merge=lfs -delta
*.dae filter=lfs diff=lfs merge=lfs -delta
*.exe filter=lfs diff=lfs merge=lfs -delta
*.dll filter=lfs diff=lfs merge=lfs -delta
*.zip filter=lfs diff=lfs merge=lfs -delta
*.pdb filter=lfs diff=lfs merge=lfs -delta
*.resS filter=lfs diff=lfs merge=lfs -delta
*.unity filter=lfs diff=lfs merge=lfs -delta
*.assets filter=lfs diff=lfs merge=lfs -delta
*.cubemap filter=lfs diff=lfs merge=lfs -delta
*.resource filter=lfs diff=lfs merge=lfs -delta
*.unitypackage filter=lfs diff=lfs merge=lfs -delta