# =============== #
# Unity generated #
# =============== #
Temp/
/Library/
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Thumbs.db.meta

# UniGit credentials file must be ignored if you don't want any passwords or tokens to be stored in git
Git-Credentials*

# Chronos
/.chronos

#Lightmap Raytracer
/LiabTemp